h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:1px;
	margin-bottom:1px;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000099;
	margin-top:1px;
	margin-bottom:1px;
	text-transform: capitalize;
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:7px;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:10px;
}
.entitlearea {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 2px;
}
ul {
	margin-top: 0px;
	margin-bottom:0px
}
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	list-style-image: url(/images/minibullet.gif); 
	margin-top: 0px;
	margin-left:-22px;
	margin-bottom:4px;
	line-height:13px;
}
.outline {
	margin-top: 0px;
	margin-bottom:0px
}
.outline li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style-image: url(/images/minibullet.gif); 
	margin-top: 0px;
	margin-left: -12px;
	margin-bottom: 4px;
	line-height: 13px;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	margin-bottom: 1px;
	padding: 4pt;
}
.tbPricing {
}
.tbPricing td {
	font-size: 12px;
	line-height: 16px;
}
.tbTuition {
	border-top: 1px solid #000000;
}
.tbTuition td {
	border-top: 3px double #000000;
	border-bottom: 1px solid #000000;
	padding: 4px;
}
.tbTuition ul {
	margin-top: 0px;
	margin-bottom:0px
}
.tbTuition li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style-image: url(/images/bluedot.gif); 
	margin-top: 0px;
	margin-left: -25px;
	margin-bottom: 4px;
	line-height: 13px;
}
.titlediv {
	font-size: 1px;
	line-height: 1px;
	border-top: 1px solid #333333;
	margin-bottom: 6px;
	margin-top: 2px;
}
.contenttitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #990000;
	text-align: center;
}