body {	font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#000000;
		background-color:#ffffff;
}

td  {	font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
}

P	{	margin-top: 11px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
}

a	{	color:#000099;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
}

a:visited { color: #752589; }
a:hover { color:#CC0000; }
	
li  {	font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#000000;
		margin-top: 0px;
		margin-bottom:4px;
}

ul  {	margin-top: 0px;
		margin-bottom:0px
}

input {	font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight: bold;
		color:#000000;
}

select {font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight: bold;
		color:#000000;
}

.button {	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #000000;
		/*background-color: #F7E3AD; */
		width: 24px;
		border: 1px ridge;
		height: 18px;
}
	
/* specific design styles */
.regmark  {
		font-size: 8pt;
		vertical-align: super;
		color:  #000099;
}
	
.padding  {	padding-left: 15px;
		padding-right:10px;
}

.redheader { font-family:Arial,Geneva,sans-serif;
		font-size:11pt;
		font-weight:bold;
		margin-bottom:0px;
		color:#cc0000;}
	
/* Outline section starts here */
.coursetitle {
	background-color:#F7F7F7;
	padding: 6px;
	font-size: 17px;
	font-weight: bolder;
	border-bottom: 1px solid #7D8294
	}
.blue-mini-header  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#1D39B6;
	line-height:23px;
	}
	
.black-mini-header {
	font-family:Arial, Helvetica, san-serif;
	font-size:11px;
	font-weight:bold;
	margin-left:0px;
	}

.minifont   {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:lighter;
	}


.scheduleli   {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	list-style-type: none;
	margin-left:-12px;
	margin-top:2px;

	}

.minili   {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	list-style-image: url(/images/minibullet.gif); 
	margin-left:-24px;
	line-height:13px;
	}

	
.howtoli  {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	list-style-image: url(/images/minibullet.gif); 
	margin-top: 4px;
	margin-left:-18px;
	line-height:13px;
	}
/*Outline section ends */

.blue-skinny {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#1D39B6;
 	font-weight: lighter;
	text-decoration: none;
	}
	
.blue-fat {
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:bold;
	color:#142C94;
	text-decoration: none;
}

.blue-text-header  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#10278D;
	line-height:20px;
	}

.black-fat  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bolder;
	}

.black-medium {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#3f3f3f;
	margin-top:1px;
	}

.white-mini {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#ffffff;
	margin-bottom: 1px;
	}
	
	
.white-smaller {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	margin-bottom: 1px;
	}

	
.white-bigger {
	font-family:Arial, Helvetica, san-serif;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	margin-bottom: -2px;
	margin-left: 2px;
	}

.top-phone  {
	font-family:Arial, Helvetica, san-serif;
	font-size:10pt;
	font-weight:bold; 
	color:#ffffff;
	padding: 4px;
	}	
	

.infobox  {
	font-family:Arial, Helvetica, san-serif;
	font-size:11px;
	font-weight:bold;
	color:#3e3e3e;
	padding: 5px; 
	border:1px solid #03297F;
	}	
.infobox2  {
	font-family:Arial, Helvetica, san-serif;
	font-size:11px;
	font-weight:bold;
	color:#3e3e3e;
	padding: 5px; 
	border:1px solid #03297F;
	}	
	
.red-box  {
	font-family:Arial, Helvetica, san-serif;
	font-size:5px;
	font-weight:bold;
	color:#3e3e3e;
	padding: 7px 5px 12px 10px; 
	border:1px solid #A20F42;
	margin-top:-2px;
	}	
	

/* navigation starts */


#navli  {
	margin: 0px;
	padding: 0px;
	}
		
#navcontainer 
	{ 
	width: 100%; 
	}

#navcontainer ul
	{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	}

#navcontainer a
	{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 6px;
	width: 100%;
	background-color: #F7F7F7;
	border:1px solid #B50122;
	margin-top: -2px;
	}

#navcontainer a:link, #navlist a:visited
	{
	color: #000000;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

#navcontainer a:hover
	{
	background-color: #dddddd;
	color: #CC0000;
	}
	/* navigation ends */
	
	/*nav 2 starts */
	
#navcontainer2 
	{ 
	width: 100%; 
	background-color: #F7E3AD;
	border:1px solid #B50122;
	margin-top:5px;
	
	
	}	
	
#navcontainer2 ul
	{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	}


#navcontainer2 a:link, #navlist2 a:visited
	{
	color: #000000;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

#navcontainer2 a:hover
	{
	background-color: #dddddd;
	color: #CC0000;
	}
	
	
#navli2  {
	margin: 0px;
	padding: 2px;
	text-indent:2px;
	}

#navcontainer2 a
	{
	background-color: #F7E3AD;
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: -2px;
	width: 100%;
	}

	
/* ++++ Directory specific styles  ++++++ */
.black-large  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#373739;
	}
	
.course-link  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0000a0;
	}
	
.box-handson  {
	background-color:#F9E4E4;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	color:#353434;
	margin:1px 0px -2px 8px;
	width:62px;
	border: 1px solid #F9E4E4; 
	padding:0px 2px 0px 2px;
	}
	
.box-demo   {
	background-color:#FAF9CB;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	color:#353434;
	margin:1px 0px -2px 8px;
	width:62px;
	border: 1px solid #FAF9CB;
	padding:0px 2px 0px 2px;
	}

.box-workshop   {
	background-color:#D1EBDD;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	font-weight:bold;
	color:#353434;
	margin:1px 0px -2px 8px;
	width:62px;
	border: 1px solid #D1EBDD;
	padding:0px 2px 0px 2px;
	}

.box-yellow  {
	border: 2px solid #edc46d;
	padding:0px 4px 0px 4px;	
	margin-right:2px;
	}	

/* FAQ PAGE START */

.QAQuestion  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#1D39B6;
	margin-top:20px;
	margin-bottom:0px;
	}

.QAAnswer  {
	margin-top:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}

.QAList  {	
	margin-top: 4px;
	margin-bottom:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
.QAGlossary {
	margin-top:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:0px;
}

/* FAQ PAGE END */

.tbHeaderTitle {
	background-color: #F7F7F7;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-family: Arial, Helvetica, san-serif;
	font-size: 14px;
	font-weight: bold;
}

a.courselink {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#0000a0;
	position: relative;
	z-index: 24;
}
a.courselink:hover{
	z-index:25;
	background-color: white;
}
a.courselink span {display: none}
a.courselink:hover span {
	color: #000000;
	display: block;
	position: absolute;
	top: 15px; left: 80px; width: 100px;
	border: 1px solid #B6CDDE;
	background-color: #EAF0F4;
	text-align: center;
	text-decoration: none;
}
.certheader  {
	/* header for cert pages */
	color:                  #000099;
	font-family:            Arial, Geneva, Helvetica, sans-serif;
	font-size:              16px;
	font-weight:            bold;
}

.certitle  {
	/* title for cert pages */
	color:                  #000099;
	font-family:            Arial, Geneva, Helvetica, sans-serif;
	font-size:              16px;
	font-weight:            bold;
}

.certsubtitle  {
	/* subtitle for cert pages */
	font-family:            Arial, Helvetica, Geneva, sans-serif;
	font-size:              11pt;
	font-weight:            Bold;
}

.certMultiTrackTable {
	background-color:#FFFFFF;
	border-color:Blue;
	border-width:1px;
	border-style:Solid;
	width:90%;
}

.certRecommended {
	background-color:#F3F3ED;
}

.certDirectoryRow {
	background-color:#F3F3ED;
}

.certMoreInfo {
	background-color:#D9D9C6;
}

.certMultitrackRow {
	background-color:#F7F3EF;
}
.tbFooter {
	height: 30px;
	padding: 2pt;
	background-color: #003399;
	text-align: center;
}


/* Temp site-map */



a.stitle:visited { color: #000099; }
a.stitle:hover { text-decoration: underline; color: #CC0000; }
a.stitle { font-size: 12px; font-weight: bold; text-decoration: none; }

a.stitle2:visited { color: #000099; }
a.stitle2:hover { text-decoration: underline; color: #CC0000; }
a.stitle2 { font-weight: bold; text-decoration: none; }

a.stitle3:visited { color: #000099; }
a.stitle3:hover { text-decoration: underline; color: #CC0000; }
a.stitle3 { text-decoration: none; }
